@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

body,
html {
  font-family: "Martian Mono", monospace;
}

:root {
  color: #dbdbdb;
  /* background-color: #242424; */
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: 500;
}
